/* ---------------------------- INFO ---------------------------- */


body {
  background-color: #293241;
}

.CardInfo {
  display: flex;
  margin: 2rem 1rem;
}

.InfoImg {
  margin: 0 auto;
}

.InfoImg img{
  min-height: 100px; 
  max-height: 900px;
  width: 350px;
  margin: 0 2rem 0 0;
}

.Info {
  width: calc(100% - 300px - 2rem);
}

.Info h2 {
  color: #e0fbfc;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.Info a {
  color: #e0fbfc;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  display: block;
  color: #98c1d9;
}

.Info a:hover {
  color: #4ea4d5;
}

.Info p {
  color: #e0fbfc;
  text-align: justify;
}

@media only screen and (max-width: 992px) {

  .CardInfo {
    flex-direction: column;
  }

  .InfoImg img {
    height: auto;
    max-height: 500px;
    margin: 0 0 1rem 0;
  }

  .Info {
    width: 100%;
  }

}

@media only screen and (max-width: 610px) {

  .InfoImg img {
    width: 270px;
    height: auto;
    max-height: 500px;
    margin: 0 0 1rem 0;
  }

}


/* ---------------------------- STATISTICS ---------------------------- */


.Statistics {
  display: flex;
  flex-direction: column;
}

.StatisticsVote {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  height: fit-content;
  align-items: flex-start;
}

.Chart {
  width: 38%;
}

.CardItem{
  width: 29%;  
}

.CardItem img {
  width: 100%;
}

.CardButtons {
  display: flex;
  align-items: center;
}

.InfoButton {
  padding: 0.5rem 1rem;
  display: block;
  background-color: #3d5a80;
  color: #e0fbfc;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 4px;
}

.InfoButton:hover {
  background-color: #5b7ca4;
}

.VoteButton {
  border-radius: 50%;
  display: block;
  width: fit-content;
  color: #000;
  margin: 1rem auto 0 auto;
  border: 1px solid #d64045;
  padding: 0.7rem;
}

.VoteButton:hover {
  background: #d64045;
} 

.VoteButton:hover > .Vote {
  color: #293241;
} 

.Vote {
  display: block;
  color: #d64045;
  position: relative;
}

.StatisticsTable {
  margin-top: 1rem;
}

.StatisticsTable a {
  padding: 0.5rem 1rem;
  color: #d64045;
  border: 1px solid #d64045;
  border-radius: 5px;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.StatisticsTable a:hover {
  color: #293241;
  background: #d64045;
}